<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:contents, :index) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:contents, :new) %></li>
  <li class="active"> <%= link_to tag_icon(:edit, pat(:edit)), url(:contents, :edit, :id => @content.id) %></li>
</ul>
<div class="tabs-content">
  <% form_for :content, url(:contents, :update, :id => @content.id), :method => :put, :class => 'form-horizontal' do |f| %>
    <%= partial 'contents/form', :locals => { :f => f } %>
  <% end %>
</div>
