#imageLibrary
	.tab-content
		a
			display: inline-block
			&:hover
				.img-thumbnail
					background: $primary
			&.active
				.img-thumbnail
					background: $active
	#library, #onThisPost
		ul
			+pie-clearfix
			list-style: none
			margin: 5px 0px
			padding: 0px
			li
				margin: 5px
				float: left
		