<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:menus, :index) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:menus, :new) %></li>
  <li class="active"> <%= link_to tag_icon(:edit, pat(:edit)), url(:menus, :edit, :id => @menu.id) %></li>
</ul>
<div class="tabs-content">
  <% form_for :menu, url(:menus, :update, :id => @menu.id), :method => :put, :class => 'form-horizontal' do |f| %>
    <%= partial 'menus/form', :locals => { :f => f } %>
  <% end %>
</div>
