<div id="header-region"></div>

<div id="main-region" class="container"></div>


<%= partial "templates/header-link" %>

<%= partial "templates/set-list" %>
<%= partial "templates/set-list-item" %>
<%= partial "templates/set-view" %>