@import compass/utilities/general/clearfix
@import compass/css3
@import compass/css3/transition
@import compass/css3/box-shadow
@import ../helpers/mixins

$menu-width: 300px
$primary: #2ba6cb
$black: #4e4e4e

html, body
	width: 100%
	height: 100%

body
	+set-font(body)
	&.open_menu
		overflow: hidden
		width: 100%
		height: 100%
		#header-region
			display: block

#header-region
	color: $black
	position: fixed
	top: 37px
	left: 0
	width: 100%
	height: 100%
	z-index: 800
	display: none
	nav
		+box-shadow(0px 10px 20px rgba(0,0,0,.5))
	ul
		+transition-property(transform, translate3d)
		+transition-duration(.3s)
		+transition-timing-function(ease-in-out)
		+border-radius(5px)
		background: #FFF
		&:after
			bottom: 100%
			left: 20px
			border: solid transparent
			content: " "
			height: 0
			width: 0
			position: absolute
			pointer-events: none
		&:after
			border-color: rgba(255, 255, 255, 0)
			border-bottom-color: #ffffff
			border-width: 10px
			margin-left: -10px		
	ul.menu-mobile
		display: block
		clear: both
		position: relative
		+pie-clearfix
		li
			+set-font(serif, 300)
			+pie-clearfix
			a
				position: relative
				&:before
					width: 125%
					position: absolute
					text-align: center
					overflow: auto
					margin: auto
					top: -1px
					bottom: 0
					left: 6px
					right: 0
					border-top: 1px solid shade(#FFF, 20%)
					content: " "
				
			&:first-child
				a:before
					border-top: none
			a
				color: $black
				text-decoration: none
				width: 75%
				float: left
				padding: 10px 5px
				&:hover
					color: $primary
			i.icon
				padding: 5px 7px 5px 8px
				margin: 5px 7px 5px 6px
				color: #FFF
				position: relative
				cursor: pointer
				background: $black
				+border-radius(50%)
				&:hover
					background: $primary
				
	ul.translated
		+translate3d(-100%, 0, 0)
	li.has-submenu

	ul.submenu
		position: absolute
		top: 0
		left: 100%
		width: 100%
		display: none
		.close-list-item
			z-index: 1000
			width: 100%
			.icon
				border-left: none
				padding: 5px 8px 5px 7px
				margin: 5px 7px 5px 6px
				cursor: pointer
			a
				padding: 10px 10px 10px 5px
				color: $black
				text-decoration: none