@import compass/utilities/general/clearfix
@import compass/css3
@import compass/css3/transition

$menu-width: 300px
$black: #4e4e4e

html, body
	width: 100%
	height: 100%

body
	font-family: 'Droid sans', sans-serif
	&.open_menu
		overflow: hidden
		width: 100%
		height: 100%
		#header-region
			display: block

#header-region
	background: #FFF
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 800
	display: none
	.header-close
		background: $black
		color: #FFF
		padding: 10px
		position: relative
		z-index: 1001
	ul
		+transition-property(transform, translate3d)
		+transition-duration(.3s)
		+transition-timing-function(ease-in-out)
	ul.menu-mobile
		display: block
		clear: both
		position: relative
		+pie-clearfix
		li
			+pie-clearfix
			margin: 1px 0
			a
				color: $black
				width: 80%
				float: left
				padding: 5px
			i.icon
				padding: 5px 10px 5px 5px
				background: $black
				color: #FFF
	ul.translated
		+translate3d(-100%, 0, 0)
	li.has-submenu

	ul.submenu
		position: absolute
		top: 0
		left: 100%
		width: 100%
		display: none
		.close-list-item
			background: $black
			position: fixed
			top: -37px
			z-index: 1000
			width: 100%
			.icon, a
				padding: 10px 10px 10px 5px
			a
				color: #FFF
				text-decoration: none

#main-region