$black: #4e4e4e
#panel-region
	position: absolute
	top: 0
	left: 0
	width: 100%
	.toggle_menu
		text-decoration: none
		color: #FFF
		background: $black
		padding: 8px 10px
		float: left
		overflow-x: hidden
		.icon
			margin-left: -15px
