@import compass/utilities/general/clearfix
@import compass/css3/box-shadow
@import ../helpers/mixins

$black: #4e4e4e

#panel-region
	position: fixed
	top: 0
	left: 0
	width: 100%
	background: transparent
	border-bottom: 1px solid #FFF
	float: left
	overflow-x: hidden
	z-index: 100
	.wrap
		+pie-clearfix
		position: relative
		padding: 8px 10px 7px 10px
		.toggle_menu
			position: absolute
			top: 0
			left: 0
			color: #FFF
			text-decoration: none
			padding: 10px 12px
	.desktop-title
		display: none
	.mobile-title, .desktop-title
		+set-font(serif, 300)
		font-style: italic
		color: #FFF
		font-size: 1.4em
		text-align: center
		text-transform: uppercase
