<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:uploads, :index) %></li>
  <li class="active"> <%= link_to tag_icon(:plus, pat(:new)), url(:uploads, :new) %></li>
</ul>
<div class="tabs-content">
  <% form_for :upload, url(:uploads, :create), :class => 'form-horizontal' do |f| %>
    <%= partial 'uploads/form', :locals => { :f => f } %>
 <% end %>
</div>

<script>
    // var files = [];
    
    // $("input[type=file]").change(function(event) {
    //   $.each(event.target.files, function(index, file) {
    //     var reader = new FileReader();
    //     reader.onload = function(event) {  
    //       object = {};
    //       object.filename = file.name;
    //       object.type = file.type;
    //       object.base64 = event.target.result;
    //       files.push(object);
    //     };  
    //     reader.readAsDataURL(file);
    //   });
    // });
    
    // $("form").submit(function(form) {
        
    //   var authenticity_token = $("input[name='authenticity_token']").val();
      
    //   $.each(files, function(index, file) {
    //     $.ajax({url: "/admin/uploads/create.json",
    //           type: 'POST',
    //           data: {upload: {file: file}, authenticity_token: authenticity_token},
    //           success: function(data, status, xhr) {
    //               var thumb = data.file.thumb.url;
    //               $('figure#image-uploaded').html("<img src='"+thumb+"' />");
    //               $('input').each(function(){
    //                   $(this).attr('disabled', 'disabled');
    //               });
    //           }
    //     });      
    //   });
    //   files = [];
    //   form.preventDefault();
    // });
</script>
