/*
Syntax error: Undefined mixin 'pie-clearfix'.
        on line 3 of /Users/persocon/photo-cms/app/stylesheets/modules/footer-region.sass, in `pie-clearfix'
        from line 3 of /Users/persocon/photo-cms/app/stylesheets/modules/footer-region.sass

1: #footer-region
2: 	.footer-wrap
3: 		+pie-clearfix
4: 		text-align: center
5: 		padding: 10px 0
6: 		border-top: 1px solid #FFF
7: 		a
8: 			color: #FFF

Backtrace:
/Users/persocon/photo-cms/app/stylesheets/modules/footer-region.sass:3:in `pie-clearfix'
/Users/persocon/photo-cms/app/stylesheets/modules/footer-region.sass:3
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:253:in `visit_mixin'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `each'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/plugin/rack.rb:51:in `call'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/rack-protection-1.5.3/lib/rack/protection/xss_header.rb:18:in `call'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/rack-protection-1.5.3/lib/rack/protection/path_traversal.rb:16:in `call'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/rack-protection-1.5.3/lib/rack/protection/json_csrf.rb:18:in `call'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/rack-protection-1.5.3/lib/rack/protection/frame_options.rb:31:in `call'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/rack-1.5.2/lib/rack/head.rb:11:in `call'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/rack-1.5.2/lib/rack/methodoverride.rb:21:in `call'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/padrino-core-0.12.1/lib/padrino-core/reloader/rack.rb:22:in `call'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/padrino-core-0.12.1/lib/padrino-core/logger.rb:423:in `call'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sinatra-1.4.5/lib/sinatra/show_exceptions.rb:21:in `call'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/rack-1.5.2/lib/rack/session/abstract/id.rb:225:in `context'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/rack-1.5.2/lib/rack/session/abstract/id.rb:220:in `call'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sinatra-1.4.5/lib/sinatra/base.rb:2014:in `call'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sinatra-1.4.5/lib/sinatra/base.rb:1478:in `block in call'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sinatra-1.4.5/lib/sinatra/base.rb:1788:in `synchronize'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/sinatra-1.4.5/lib/sinatra/base.rb:1478:in `call'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/padrino-core-0.12.1/lib/padrino-core/router.rb:82:in `block in call'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/padrino-core-0.12.1/lib/padrino-core/router.rb:75:in `each'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/padrino-core-0.12.1/lib/padrino-core/router.rb:75:in `call'
/Users/persocon/.rvm/gems/ruby-2.1.1@photocms/gems/rack-1.5.2/lib/rack/handler/webrick.rb:60:in `service'
/Users/persocon/.rvm/rubies/ruby-2.1.1/lib/ruby/2.1.0/webrick/httpserver.rb:138:in `service'
/Users/persocon/.rvm/rubies/ruby-2.1.1/lib/ruby/2.1.0/webrick/httpserver.rb:94:in `run'
/Users/persocon/.rvm/rubies/ruby-2.1.1/lib/ruby/2.1.0/webrick/server.rb:295:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'pie-clearfix'.\A         on line 3 of /Users/persocon/photo-cms/app/stylesheets/modules/footer-region.sass, in `pie-clearfix'\A         from line 3 of /Users/persocon/photo-cms/app/stylesheets/modules/footer-region.sass\A \A 1: #footer-region\A 2: 	.footer-wrap\A 3: 		+pie-clearfix\A 4: 		text-align: center\A 5: 		padding: 10px 0\A 6: 		border-top: 1px solid #FFF\A 7: 		a\A 8: 			color: #FFF"; }
