/*
Syntax error: Undefined mixin 'set-font'.
        on line 8 of /home/neves/photoCMS/app/stylesheets/modules/set-desktop.sass, in `set-font'
        from line 8 of /home/neves/photoCMS/app/stylesheets/modules/set-desktop.sass

3: 	background: $black
4: 	&.not-featured
5: 		padding-top: 60px
6: 	h2.set-title
7: 		padding: 5px
8: 		+set-font(serif,700)
9: 		font-style: italic
10: 		color: $primary
11: 	.set-images
12: 		width: 100%
13: 		img

Backtrace:
/home/neves/photoCMS/app/stylesheets/modules/set-desktop.sass:8:in `set-font'
/home/neves/photoCMS/app/stylesheets/modules/set-desktop.sass:8
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:253:in `visit_mixin'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `each'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/plugin.rb:54:in `check_for_updates'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sass-3.2.19/lib/sass/plugin/rack.rb:51:in `call'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/rack-protection-1.5.3/lib/rack/protection/xss_header.rb:18:in `call'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/rack-protection-1.5.3/lib/rack/protection/path_traversal.rb:16:in `call'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/rack-protection-1.5.3/lib/rack/protection/json_csrf.rb:18:in `call'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/rack-protection-1.5.3/lib/rack/protection/frame_options.rb:31:in `call'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/rack-1.5.2/lib/rack/head.rb:11:in `call'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/rack-1.5.2/lib/rack/methodoverride.rb:21:in `call'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/padrino-core-0.12.1/lib/padrino-core/reloader/rack.rb:22:in `call'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/padrino-core-0.12.1/lib/padrino-core/logger.rb:423:in `call'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sinatra-1.4.5/lib/sinatra/show_exceptions.rb:21:in `call'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/rack-1.5.2/lib/rack/session/abstract/id.rb:225:in `context'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/rack-1.5.2/lib/rack/session/abstract/id.rb:220:in `call'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sinatra-1.4.5/lib/sinatra/base.rb:2014:in `call'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sinatra-1.4.5/lib/sinatra/base.rb:1478:in `block in call'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sinatra-1.4.5/lib/sinatra/base.rb:1788:in `synchronize'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/sinatra-1.4.5/lib/sinatra/base.rb:1478:in `call'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/padrino-core-0.12.1/lib/padrino-core/router.rb:82:in `block in call'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/padrino-core-0.12.1/lib/padrino-core/router.rb:75:in `each'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/padrino-core-0.12.1/lib/padrino-core/router.rb:75:in `call'
/home/neves/.rvm/gems/ruby-2.1.1@photocms/gems/rack-1.5.2/lib/rack/handler/webrick.rb:60:in `service'
/home/neves/.rvm/rubies/ruby-2.1.1/lib/ruby/2.1.0/webrick/httpserver.rb:138:in `service'
/home/neves/.rvm/rubies/ruby-2.1.1/lib/ruby/2.1.0/webrick/httpserver.rb:94:in `run'
/home/neves/.rvm/rubies/ruby-2.1.1/lib/ruby/2.1.0/webrick/server.rb:295:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'set-font'.\A         on line 8 of /home/neves/photoCMS/app/stylesheets/modules/set-desktop.sass, in `set-font'\A         from line 8 of /home/neves/photoCMS/app/stylesheets/modules/set-desktop.sass\A \A 3: 	background: $black\A 4: 	&.not-featured\A 5: 		padding-top: 60px\A 6: 	h2.set-title\A 7: 		padding: 5px\A 8: 		+set-font(serif,700)\A 9: 		font-style: italic\A 10: 		color: $primary\A 11: 	.set-images\A 12: 		width: 100%\A 13: 		img"; }
