<script type="text/template" id="app-panel">
<p class="mobile-title">tkrp</p>
<p class="desktop-title">The Killer-Rabbit Photography</p>
<a href="#" class="toggle_menu"><i class="icon icon-bars"></i></a>
</script>