<script id="footer-view" type="text/x-handlebars-template">
	<div class="footer-content">
		<ul class="social">
			<li class="facebook">
				<a href="https://www.facebook.com/killer.rabbit.photo" target="_blank">
					<i class="icon icon-facebook-square"></i>
				</a>
			</li>
			<li class="instagram">
				<a href="http://instagram.com/persocon" target="_blank">
					<i class="icon icon-instagram"></i>
				</a>
			</li>
			<li class="flickr">
				<a href="http://flickr.com/photos/n_c" target="_blank">
					<i class="icon icon-flickr"></i>
				</a>
			</li>
			<li class="tumblr">
				<a href="http://tumblr.killer-rabbit.com.br" target="_blank">
					<i class="icon icon-tumblr-square"></i>
				</a>
			</li>
		</ul>
		<a href="#" class="go-to-top">
			<i class="icon icon-arrow-up"></i> Go to top
		</a>
	</div>
</script>