<script id="header-link" type="text/x-handlebars-template">
	<div class="header-close-wrap">
		<a href="#" class="header-close is-float-left"><i class="icon icon-times"></i></a>
	</div>
	{{list data}}
</script>