<script id="menu-view" type="text/x-handlebars-template">
{{#if data}}
	<ul class='menu-mobile'>
		<li><a href='#' class='home internal_link' data-type='' data-slug=''>Home</a></li>
		{{> menu-item}}
	</ul>
{{/if}}
</script>