<script id="page-view" type="text/x-handlebars-template">
	<div class="page-content">
		<h2 class="page-title">{{ title }}</h2>
		{{#if body}}
			{{markdown body}}
		{{/if}}
	</div>
	{{#if images}}
		<ul class="images">
			{{#each images}}
				<li>
					<img src="{{files.default}}" />
				</li>
			{{/each}}
		</ul>
	{{/if}}
</script>