<script id="set-view" type="text/x-handlebars-template">
	{{#if featured_image}}
		<div class="set-images featured">
			<figure>
				<img src="{{featured_image.files.default}}" />
			</figure>
		</div>
	{{/if}}
	<div class="content">
		<h2 class="set-title">{{ title }}</h2>
		{{#if body}}
			{{markdown body}}
		{{/if}}
	</div>
	{{#if images}}
		<div class="set-images">
			{{#each images}}
				<figure>
					<img src="{{files.default}}" />
				</figure>
			{{/each}}
		</div>
	{{/if}}
	{{#if categories}}
		<div class="categories">
			<p>See more:</p>
			<ul>
				{{#each categories}}
					<li>
						<a href="#category/{{slug}}">{{title}}</a>
					</li>
				{{/each}}
			</ul>
		</div>
	{{/if}}
	{{#if tags}}
		<div class="tags">
			{{#each tags}}
				<a href="#tag/{{slug}}">#{{title}}</a>
			{{/each}}
		</div>
	{{/if}}
</script>