<script id="set-list-item" type="text/x-handlebars-template">
	<div class="set-images">
		<a href="#set/{{slug}}">	
			<figure
				{{#if featured_image}}
					style="background-image: url({{featured_image.files.default}})"
				{{ else }}
					{{#if images}}
						style="background-image: url({{images.0.files.default}})"
					{{/if}}
				{{/if}}
			>
				
				<figcaption>
						<h2>{{title}}</h2>
						<span>MORE</span>
				</figcaption>
			</figure>
		</a>
	</div>
</script>