<script id="set-list-item" type="text/x-handlebars-template">
{{css this}}
	<div class="set-images" id="{{slug}}">
		<a href="#set/{{slug}}">
			<figure>
				
				<figcaption>
						<h2>{{title}}</h2>
						<span>MORE</span>
				</figcaption>
			</figure>
		</a>
	</div>
</script>