<script id="set-list-item" type="text/x-handlebars-template">
	{{#if images}}
		<a href="#set/{{slug}}">	
			<div class="set-images">
				{{#each images}}
					<figure>
						<img src="{{files.default}}" />
					</figure>
				{{/each}}
			</div>
		</a>
	{{/if}}
</script>