<script id="set-view" type="text/x-handlebars-template">
	{{#if featured_image}}
		<div class="set-images featured">
			<figure>
				<img srcset="
							{{#if featured_image.files.mobile}}
							{{featured_image.files.mobile}} 320w,
							{{/if}} 
							{{#if featured_image.files.tablet}}
							{{featured_image.files.tablet}} 1024w, 
							{{/if}}
							{{#if featured_image.files.desktop}}
							{{featured_image.files.desktop}} 1280w,
							{{/if}} 
							{{#if featured_image.files.desktop_big}}
							{{featured_image.files.desktop_big}} 1440w, 
							{{/if}}
							{{featured_image.files.default}} 1441w" />
			</figure>
		</div>
	{{/if}}
	<div class="content">
		<h2 class="set-title">{{ title }}</h2>
		{{#if body}}
			{{markdown body}}
		{{/if}}
	</div>
	{{#if video}}
		{{safe_html video_iframe}}
	{{/if}}
	{{#if images}}
		<div class="set-images">
			{{#each images}}
				<figure>
					<img srcset="
								{{#if files.mobile}}
								{{files.mobile}} 320w, 
								{{/if}}
								{{#if files.tablet}}
								{{files.tablet}} 1024w, 
								{{/if}}
								{{#if files.desktop}}
								{{files.desktop}} 1280w, 
								{{/if}}
								{{#if files.desktop_big}}
								{{files.desktop_big}} 1440w, 
								{{/if}}
								{{files.default}} 1441w" />
				</figure>
			{{/each}}
		</div>
	{{/if}}
	{{#if categories}}
		<div class="categories">
			<p>See more:</p>
			<ul>
				{{#each categories}}
					<li>
						<a href="#category/{{slug}}">{{title}}</a>
					</li>
				{{/each}}
			</ul>
		</div>
	{{/if}}
	{{#if tags}}
		<div class="tags">
			{{#each tags}}
				<a href="#tag/{{slug}}">#{{title}}</a>
			{{/each}}
		</div>
	{{/if}}
</script>